Zu erst wird die ben√∂tigte Bibliothek Pandas und der Datensatz geladen

In [4]:
import pandas as pd

In [5]:
raw_data = pd.read_csv("../data/fuel.csv")

/var/folders/9g/6s6jvkk926149cqngqhhk7zh0000gn/T/ipykernel_8813/3551924139.py:1: DtypeWarning: Columns (7,44) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("../data/fuel.csv")

In [6]:
raw_data # Darstellung der Daten

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,range_ft2,city_range_ft2,highway_range_ft2
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,0.0,29,32,30,0,0.0,0.0,NaN,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0

In [7]:
raw_data.info() # √ºberblick √ºber die Datatypes verschaffen

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 81 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  supercharger                       0 non-null      float64
 14  fuel_type                          38113 non-null  object
 15  fuel_type_1                        38113 non-null  object
 16  fuel_type_2                        0 non-null      float64
 17  city_mpg_ft1                       38113 non-null  int64
 18  unrounded_city_mpg_ft1             38113 non-null  float64
 19  city_mpg_ft2                       38113 non-null  int64
 20  unrounded_city_mpg_ft2             38113 non-null  float64
 21  city_gasoline_consumption_cd       38113 non-null  float64
 22  city_electricity_consumption       38113 non-null  float64
 23  city_utility_factor                38113 non-null  float64
 24  highway_mpg_ft1                    38113 non-null  int64
 25  unrounded_highway_mpg_ft1          38113 non-null  float64
 26  highway_mpg_ft2                    38113 non-null  int64
 27  unrounded_highway_mpg_ft2          38113 non-null  float64
 28  highway_gasoline_consumption_cd    38113 non-null  float64
 29  highway_electricity_consumption    38113 non-null  float64
 30  highway_utility_factor             38113 non-null  float64
 31  unadjusted_city_mpg_ft1            38113 non-null  float64
 32  unadjusted_highway_mpg_ft1         38113 non-null  float64
 33  unadjusted_city_mpg_ft2            38113 non-null  float64
 34  unadjusted_highway_mpg_ft2         38113 non-null  float64
 35  combined_mpg_ft1                   38113 non-null  int64
 36  unrounded_combined_mpg_ft1         38113 non-null  float64
 37  combined_mpg_ft2                   38113 non-null  int64
 38  unrounded_combined_mpg_ft2         38113 non-null  float64
 39  combined_electricity_consumption   38113 non-null  float64
 40  combined_gasoline_consumption_cd   38113 non-null  float64
 41  combined_utility_factor            38113 non-null  float64
 42  annual_fuel_cost_ft1               38113 non-null  int64
 43  annual_fuel_cost_ft2               38113 non-null  int64
 44  gas_guzzler_tax                    964 non-null    object
 45  save_or_spend_5_year               38113 non-null  int64
 46  annual_consumption_in_barrels_ft1  38113 non-null  float64
 47  annual_consumption_in_barrels_ft2  38113 non-null  float64
 48  tailpipe_co2_ft1                   38113 non-null  int64
 49  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 50  tailpipe_co2_ft2                   38113 non-null  int64
 51  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 52  fuel_economy_score                 38113 non-null  int64
 53  ghg_score                          38113 non-null  int64
 54  ghg_score_alt_fuel                 38113 non-null  int64
 55  my_mpg_data                        38113 non-null  object
 56  x2d_passenger_volume               38113 non-null  int64
 57  x2d_luggage_volume                 38113 non-null  int64
 58  x4d_passenger_volume               38113 non-null  int64
 59  x4d_luggage_volume                 38113 non-null  int64
 60  hatchback_passenger_volume         38113 non-null  int64
 61  hatchback_luggage_volume           38113 non-null  int64
 62  start_stop_technology              0 non-null      float64
 63  alternative_fuel_technology        3047 non-null   object
 64  electric_motor                     0 non-null      float64
 65  manufacturer_code                  0 non-null      float64
 66  gasoline_electricity_blended_cd    38113 non-null  bool
 67  vehicle_charger                    0 non-null      float64
 68  alternate_charger                  0 non-null      float64
 69  hours_to_charge_120v               38113 non-null  int64
 70  hours_to_charge_240v               38113 non-null  float64
 71  hours_to_charge_ac_240v            38113 non-null  float64
 72  composite_city_mpg                 38113 non-null  int64
 73  composite_highway_mpg              38113 non-null  int64
 74  composite_combined_mpg             38113 non-null  int64
 75  range_ft1                          38113 non-null  int64
 76  city_range_ft1                     38113 non-null  float64
 77  highway_range_ft1                  38113 non-null  float64
 78  range_ft2                          0 non-null      float64
 79  city_range_ft2                     38113 non-null  float64
 80  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(39), int64(28), object(13)
memory usage: 23.3+ MB

Als n√§chstes werden alle Spalten entfernt die vollst√§ndig leer, also NaN, sind.

In [8]:
raw_data.drop(columns=["range_ft2","alternate_charger","vehicle_charger","manufacturer_code","electric_motor","alternative_fuel_technology","start_stop_technology","gas_guzzler_tax","fuel_type_2","supercharger"],inplace=True)
raw_data

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_240v,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,city_range_ft2,highway_range_ft2
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,3.0,0.0,29,32,30,0,0.0,0.0,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0

In der Datenbetrachtung ist aufgefallen, dass die Spalte "turbocharger" nur True oder NaN enth√§lt. Daher werden die NaN Werte zu False umcodiert.

In [45]:
clean_df = raw_data # erstelle eine Kopie des Datasets

In [11]:
clean_df["turbocharger"].fillna(False,inplace=True) # ersetzte NaN mit False

In [12]:
clean_df = clean_df[clean_df.drive.isna() == False] # Entferne NaN in der Spalte "Drive"

In [13]:
clean_df #Darstellung

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_240v,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,city_range_ft2,highway_range_ft2
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,3.0,0.0,29,32,30,0,0.0,0.0,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.00,0.0

In [14]:
clean_df_with_type = clean_df.copy() # erstelle eine Kopie

In [15]:
clean_df_with_type = clean_df_with_type[clean_df_with_type.transmission_type.isna() == False] # entferne leere Werte in Transmission

In [16]:
clean_df_with_type = clean_df_with_type.fillna("Unknown") # Ersetze NaN in Engine_descriptor mit Unkown

In [17]:
clean_df_with_type

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_240v,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,city_range_ft2,highway_range_ft2
199,27315,1984,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,4881,(DIESEL),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
202,29618,1984,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,4852,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
203,29619,1984,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,4863,(GM-CHEV),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
209,27317,1984,Chevrolet,C20 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,4852,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
210,27319,1984,Chevrolet,C20 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,4863,(GM-CHEV),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28626,25726,2009,Volvo,XC70 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,0,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
28627,25727,2009,Volvo,XC90 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,0,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
28628,25728,2009,Volvo,XC90 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,0,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
28629,25658,2009,Volvo,XC90 FWD,Sport Utility Vehicle - 2WD,Front-Wheel Drive,Automatic (S6),2MODE CLKUP,0,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
28901,29894,2010,Chrysler,PT Cruiser,Sport Utility Vehicle - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,560,Unknown,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0

Entferne Spalten ohne Aussagekraft. Diese Spalten enthalten lediglich den Wert 0

In [18]:
clean_df_with_type = clean_df_with_type.drop(columns=["unrounded_city_mpg_ft1",
                                                      "unrounded_city_mpg_ft2",
                                                      "city_gasoline_consumption_cd",
                                                      "city_electricity_consumption",
                                                      "city_utility_factor",
                                                      "highway_mpg_ft1",
                                                      "unrounded_highway_mpg_ft1",
                                                      "unrounded_highway_mpg_ft2",
                                                      "highway_gasoline_consumption_cd",
                                                      "highway_electricity_consumption",
                                                      "highway_utility_factor",
                                                      "unrounded_combined_mpg_ft1",
                                                      "unrounded_combined_mpg_ft2",
                                                      "combined_electricity_consumption",
                                                      "combined_gasoline_consumption_cd",
                                                      "combined_utility_factor",
                                                      "hours_to_charge_120v",
                                                      "hours_to_charge_240v",
                                                      "hours_to_charge_ac_240v",
                                                      "composite_city_mpg",
                                                      "composite_highway_mpg",
                                                      "composite_combined_mpg",
                                                      "range_ft1",
                                                      "city_range_ft1",
                                                      "highway_range_ft1",
                                                      "city_range_ft2",
                                                      "highway_range_ft2"
                                                      ])

In [20]:
clean_df_with_type.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15045 entries, 199 to 28901
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         15045 non-null  int64
 1   year                               15045 non-null  int64
 2   make                               15045 non-null  object
 3   model                              15045 non-null  object
 4   class                              15045 non-null  object
 5   drive                              15045 non-null  object
 6   transmission                       15045 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       15045 non-null  int64
 9   engine_descriptor                  15045 non-null  object
 10  engine_cylinders                   15045 non-null  float64
 11  engine_displacement                15045 non-null  float64
 12  turbocharger                       15045 non-null  bool
 13  fuel_type                          15045 non-null  object
 14  fuel_type_1                        15045 non-null  object
 15  city_mpg_ft1                       15045 non-null  int64
 16  city_mpg_ft2                       15045 non-null  int64
 17  highway_mpg_ft2                    15045 non-null  int64
 18  unadjusted_city_mpg_ft1            15045 non-null  float64
 19  unadjusted_highway_mpg_ft1         15045 non-null  float64
 20  unadjusted_city_mpg_ft2            15045 non-null  float64
 21  unadjusted_highway_mpg_ft2         15045 non-null  float64
 22  combined_mpg_ft1                   15045 non-null  int64
 23  combined_mpg_ft2                   15045 non-null  int64
 24  annual_fuel_cost_ft1               15045 non-null  int64
 25  annual_fuel_cost_ft2               15045 non-null  int64
 26  save_or_spend_5_year               15045 non-null  int64
 27  annual_consumption_in_barrels_ft1  15045 non-null  float64
 28  annual_consumption_in_barrels_ft2  15045 non-null  float64
 29  tailpipe_co2_ft1                   15045 non-null  int64
 30  tailpipe_co2_in_grams_mile_ft1     15045 non-null  float64
 31  tailpipe_co2_ft2                   15045 non-null  int64
 32  tailpipe_co2_in_grams_mile_ft2     15045 non-null  float64
 33  fuel_economy_score                 15045 non-null  int64
 34  ghg_score                          15045 non-null  int64
 35  ghg_score_alt_fuel                 15045 non-null  int64
 36  my_mpg_data                        15045 non-null  object
 37  x2d_passenger_volume               15045 non-null  int64
 38  x2d_luggage_volume                 15045 non-null  int64
 39  x4d_passenger_volume               15045 non-null  int64
 40  x4d_luggage_volume                 15045 non-null  int64
 41  hatchback_passenger_volume         15045 non-null  int64
 42  hatchback_luggage_volume           15045 non-null  int64
 43  gasoline_electricity_blended_cd    15045 non-null  bool
dtypes: bool(2), float64(10), int64(22), object(10)
memory usage: 5.0+ MB

Pr√ºfe ob Daten des Types Object enthalten sind. Falls ja wird dies korrigiert

In [22]:
clean_df_with_type.select_dtypes(object) # Zeige alle Spalten des Types Object

,make,model,class,drive,transmission,transmission_type,engine_descriptor,fuel_type,fuel_type_1,my_mpg_data
199,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,(DIESEL),Diesel,Diesel,N
202,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,Unknown,Regular,Regular Gasoline,N
203,Chevrolet,C10 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,(GM-CHEV),Regular,Regular Gasoline,N
209,Chevrolet,C20 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,Unknown,Regular,Regular Gasoline,N
210,Chevrolet,C20 Pickup 2WD,Standard Pickup Trucks 2WD,2-Wheel Drive,Manual 4-Speed,Creeper,(GM-CHEV),Regular,Regular Gasoline,N
...,...,...,...,...,...,...,...,...,...,...
28626,Volvo,XC70 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,Unknown,Regular,Regular Gasoline,N
28627,Volvo,XC90 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,Unknown,Regular,Regular Gasoline,Y
28628,Volvo,XC90 AWD,Sport Utility Vehicle - 4WD,4-Wheel or All-Wheel Drive,Automatic (S6),2MODE CLKUP,Unknown,Regular,Regular Gasoline,N
28629,Volvo,XC90 FWD,Sport Utility Vehicle - 2WD,Front-Wheel Drive,Automatic (S6),2MODE CLKUP,Unknown,Regular,Regular Gasoline,N
28901,Chrysler,PT Cruiser,Sport Utility Vehicle - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,Unknown,Regular,Regular Gasoline,N

In [46]:
# Mit aussnahme der Spalte my_mpg_data sind alle Spalten Kategorisch.
# my_mpg_data ist eine boolische Spalte
for col in clean_df_with_type.select_dtypes(object):
    if col == "my_mpg_data":
        clean_df_with_type[col] = clean_df_with_type[col].astype(bool)
    else:
        clean_df_with_type[col] = clean_df_with_type[col].astype("category")

Speichere die Daten im Ordner output

In [47]:
clean_df_with_type.to_csv("../output/fuel_cleaned.csv")